.App {
  text-align: center;
}
.chat-main {
  background-image: url('https://images.unsplash.com/photo-1477414348463-c0eb7f1359b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjU5fHxuYXR1cmV8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.App-header {
  min-height: 100vh;
  background-color: rgb(73, 65, 65);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.App-main {
  padding: 0;
  border-radius: 10px;
  height: 85vh;
}
.App-footer {
  height: 15vh;
  border-radius: 10px;
  margin: 0 50px 0 50px;
}
.form-input {
  padding: 0;
}
